# Default ignored files
/shelf/
/workspace.xml
# Это сообщит Git, чтобы он автоматически нормализовывал концы строк для всех файлов, которые он считает текстовыми
* text=auto

# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.2DBlackGame.iml
/projectSettingsUpdater.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

